@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 1920px;
    user-select: none;
}
main{
    background-color: #f8f8f8;
}
.mobile{
    display: none;
}
.desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.desktop > img{
    width: 7em;
}
.desktop nav ul{
    display: flex;
    list-style: none;  
}
.desktop nav ul li{
    margin: 0em 2em;
    font-weight: 500;
}
.desktop nav ul li a{
    text-decoration: none;
    color: #000000;
}
#logo-img {
    transition: width 0.3s;
}

.p-principal{
    width: 100%;
    height: 100vh;
    margin-bottom: 2em;
    background-image: url(assets/Img/zyro-image.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0em 0em 5em 5em;
}
.p-principalConteudo{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4em;
}
.p-principalConteudo h1{
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 1px #00000031;
    margin-bottom: 1.5em;
}
.farmaciaNome{
    color: #1B6B93;
    font-size: 1.2em;
}
.p-btnContato{
    width: 100%;
    padding: 1em;
    background-color: #29A71A;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #0000003d;
}
.p-btnContato:hover{
    background-color: #249617;
    transition: 0.5s all ease-in-out;
    box-shadow: 4px 4px 6px #0000003d;
}
.p-btnContato img{
    width: 2.3em;
}
.p-sobre{
    width: 100%;
    height: 100vh;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p-sobreTitulo{
    text-align: center;
    margin-bottom: 5em;
}
.p-sobreTitulo h1{
    color: #1C1C1C;
    font-size: 2em;
}
.p-sobreTitulo p{
    color: #393939;
    font-size: 1.2em;
}
.p-sobreConteudo{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
}
.p-sobreEsq{
    width: 35%;
    display: flex;
    justify-content: center;
}
.p-sobreDir{
    width: 35%;
}
.p-sobreDir p{
    margin-bottom: 1em;
    color: #434343;
    font-weight: 400;
    font-size: 1.2em;
}
.p-sobreEsq img{
    width: 100%;
    filter: drop-shadow(2px 2px 5px #0000005b);
}

.p-servicos{
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
}
.p-servicoTitulo{
    text-align: center;
    width: 35em;
    margin: 3em auto;
}
.p-servicoTitulo h1{
    color: #1C1C1C;
    font-size: 2em;
}
.p-servicoTitulo p{
    color: #393939;
    font-size: 1.2em;
}
.p-servicoCont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.p-servicoIcon {
    width: 20em;
    margin: 2em 2em;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5em 2em;
}
.p-servicoIcon img{
    width: 8em;
}
.p-servicoIcon p{
    color: #000000;
    font-weight: 500;
    font-size: 1.3em;
}
.p-localizacao{
    height: 100vh;
}
.p-localizacao iframe{
    width: 100%;
    height: 50vh;
    border: 0;
    z-index: -1;
}   
.p-contato{
    background-color: #16516F;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: text;
}
.p-contatoLogo{
    width: 30%;
    display: flex;
    justify-content: center;
}
.p-contatoLogo img{
    width: 20em;
}

.p-contatoCont{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    color: #F4F4F4;

}

.p-contatoCont img{
    width: 1.5em;
}
.p-contatoInf{
    width: 20em;
}
.p-contatoInf h1{
    font-size: 2em;
    margin-bottom: 0.5em;
}
.p-contatoInf p{
    font-size: 1em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}
.p-contatoInf p img{
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        background-color: #fafafa;
        width: 100%;
        z-index: 1000;
    }
    .mobile img{
        width: 4em;
    }
    .btnMenu > button{
        border: none;
        background-color: transparent;
    }
    .sideMenu{
        background-color: #00000098;
        padding-top: 1em;
        height: 10em;
        width: 80%;
        line-height: 2em;
        position: fixed;
        right: -500px;
        box-shadow: -5px 5px 5px #0000001e;
        transition: right 0.5s  ease;
    }
    .sideMenu > nav>  ul>  li{
        text-decoration: none;
        color: #ffffff;
    } 
    .sideMenu nav ul{
        display: flex;
        list-style: none;  
        flex-direction: column;
    }
    .sideMenu nav ul li{
        margin: 0em 1em;
        font-weight: 500;
    }
    .sideMenu nav ul li a{
        text-decoration: none;
        color: #ffffff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    }
    .aberto{
        right: 0;
    }
    .p-principal{
        background-position: 75%;
        border-radius: 0px;
    }
    .p-principalConteudo{
        width: 80%;
        margin: auto auto;
    }
    .p-principalConteudo h1{
        padding-bottom: 2em;
    }
    .farmaciaNome{
        color: #51b3e4;
    }
    .p-sobre{
        padding: 2em 1em;
        height: 100%;
    }
    .p-sobreConteudo{
        flex-direction: column;
    }
    .p-sobreEsq{
        width: 70%;
        margin-bottom: 5em;
    }
    .p-sobreDir{
        width: 90%;
    }
    .p-servicoCont{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .p-servicoTitulo{
        text-align: center;
        width: 90%;
        margin: 3em auto;
    }
    .p-servicoIcon {
        text-align: center;
        width: 35%;
        height: 10em;
        padding: 2em;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .p-servicoIcon p{
        font-size: 1em;
    }
    .p-servicoIcon img{
        width: 2em;
    }
    .p-servicoTitulo h1{
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .p-servicos{
        margin-bottom: 2em;
    } 
    .p-contatoLogo{
       display: none;
    }
    .p-contatoCont{
        flex-direction: column;
        width: 100%;
    }
    .p-contatoInf{
        padding: 1em 0em;
    }
    .p-contatoInf h1{
        font-size: 1em;
    }
    .p-contatoInf p{
        font-size: 0.8em;
    }
    .p-contatoInf p img{
        margin-right: 8px;
    }
}